/*
All rights reserved. Copyright Robert Roy 2017.
*/
/* 
    Created on : Apr 9, 2018, 6:48:20 PM
    Author     : Robert Roy <www.robertsworkspace.com>
*/

body, html{
    height:100%;
}

.max-height{
    height:100%;
}

.max-width{
    width:100%;
    padding:0;
    margin:0;
}

.no-magin{
    margin:0;
}

.no-padding{
    padding:0;
}