/*
All rights reserved. Copyright Robert Roy 2017.
*/
/* 
    Created on : Apr 9, 2018, 6:48:20 PM
    Author     : Robert Roy <www.robertsworkspace.com>
*/

body, html{
    height:100%;
}

.max-height{
    height:100%;
}

.center-vertically{
    position: relative;
    top:50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.row-loading-text{
    position: relative;
    top:40%;
}